<div class="col-sm-12">
    <div class="col-sm-3">
        <h3>{{ heading_title }}</h3>
    </div>
    <div class="col-sm-9">
        <ul class="nav nav-tabs">
        {% set tab = 1 %}
        {% for keys in products|keys %}
          <li><a href="#tab-bo-{{ tab }}" data-toggle="tab">{{ keys }}</a></li>
        {% set tab = tab + 1 %}
        {% endfor %}
        <li class="active"><a href="#tab-bo-all" data-toggle="tab">{{ mm_best_offers_all }}</a></li>
        </ul>
        <div class="tab-content">
            {% set tab = 1 %}
            {% for keys, category in products %}
            <div class="tab-pane" id="tab-bo-{{ tab }}">
                {% for product in category %}
                <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                      <p>{{ product.description }}</p>
                      {% if product.rating %}
                      <div class="rating">
                        {% for i in 1..5 %}
                        {% if product.rating < i %}
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        {% else %}
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                        {% endif %}
                        {% endfor %}
                      </div>
                      {% endif %}
                      {% if product.reviews %}
                      {{ mm_best_offers_reviews }}{{ product.reviews }}
                      {% endif %}
                      {% if product.price %}
                      <p class="price">
                        {% if not product.special %}
                        {{ product.price }}
                        {% else %}
                        <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                        {% endif %}
                        {% if product.tax %}
                        <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                        {% endif %}
                      </p>
                      {% endif %}
                    </div>
                    <div class="button-group">
                      <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                      <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                      <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
            {% set tab = tab + 1 %}
            {% endfor %}
            <div class="tab-pane active" id="tab-bo-all">
                {% for product in all %}
                <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-thumb transition">
                    <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                      <p>{{ product.description }}</p>
                      {% if product.rating %}
                      <div class="rating">
                        {% for i in 1..5 %}
                        {% if product.rating < i %}
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        {% else %}
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                        {% endif %}
                        {% endfor %}
                      </div>
                      {% endif %}
                      {% if product.reviews %}
                      {{ mm_best_offers_reviews }}{{ product.reviews }}
                      {% endif %}
                      {% if product.price %}
                      <p class="price">
                        {% if not product.special %}
                        {{ product.price }}
                        {% else %}
                        <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                        {% endif %}
                        {% if product.tax %}
                        <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                        {% endif %}
                      </p>
                      {% endif %}
                    </div>
                    <div class="button-group">
                      <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                      <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                      <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
